go 1.25.0

use (
	./devstack
	./pkg
	./gateway-next
	./services/auth-service-next
	./services/post-service-next
	./services/stream-service-next
	./services/subscription-service-next
	./services/wallet-service-next
)
